#navbar {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgb(0, 119, 255), rgb(255, 255, 255));
    height: 80px;
    padding: 10px;
}

a {
    appearance: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

table {
    border-spacing: 8px;
}

#menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#menus > a {
    box-shadow: 0 0 6px 2px rgb(0, 0, 0);
    padding: 8px;
    border-radius: 30px;
    width: 100px;
    text-align: center;
}

#content {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: clip;
}

#hill {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(32, 228, 0) 75%);
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.grass-pile {
    display: flex;
    align-items: flex-end;
}

.grass {
    height: 20px;
    width: 5px;
    background-color: rgb(23, 205, 0);
    border-radius: 10px;
}

.enemy {
    height: 60px;
    width: 60px;
    position: absolute;
    right: -60px;
    bottom: 10px;
    transition: right 0.25s linear;
}

.enemy-sprite {
    width: 100%;
    height: 100%;
    border-radius: 35%;
    background-image: radial-gradient(closest-corner, rgba(255, 255, 255, 0) 65%, rgb(255, 0, 0) 70%);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}

#score {
    text-align: center;
    position: absolute;
    top: 20px;
    right: 40px;
}

#player {
    height: 80px;
    width: 40px;
    background-image: radial-gradient(closest-side at 65% 25%,rgba(47, 255, 0, 0.65) 30%, rgba(0, 119, 255, 0.94));
    border-radius: 6px;
    position: absolute;
    left: 20px;
    bottom: 10px;
    transition: bottom 0.25s linear;
}

#result {
    position: absolute;
    z-index: 5;
    width: 300px;
    height: 120px;
    background-color: rgba(163, 163, 163, 0.9);
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
    display: none;
}

#continue-button {
    position: absolute;
    bottom: 10px;
    left: 30%;
    width: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 4px;
}