<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CSS Adventure</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
    <div th:replace="fragments :: navbar(${player})"></div>
    <div id="content">
        <div th:each="achievement: ${achievements}">
            <div class="achievement">
                <div th:text="${achievement.name}" style="font-weight: bold"></div>
                <div th:text="${achievement.description}"></div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: hill"></div>
</body>
</html>