<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CSS Adventure</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
    <div th:replace="fragments :: navbar(${player})"></div>
    <div id="content">
        <table th:each="p: ${players}" id="ranking">
            <tr>
                <th th:text="${p.username}" style="width: 100px"></th>
                <td th:text="${p.highScore}" style="width: 100px"></td>
            </tr>
        </table>
    </div>
    <div th:replace="fragments :: hill"></div>
</body>
</html>